/**
NG2-Listview-CRUD
Author: Mohammed Rashid
Github: https://github.com/mohdrashid
 */
.selected{
  background: bisque;
}

.ng2-listview {
  padding: 0;
  margin: -15px;
  background: #fff;
  color: #5f6468;
}

#checkbox {
  margin: 0;
}

.ng2-listview .checkbox {
  display:inline-block;
  margin: 0px;
}

.panel-body input[type=checkbox]:checked + label {
  text-decoration: line-through;
  color: #777;
}

.ng2-listview-item {
  list-style: none;
  line-height: 0.9;
  padding: 14px 15px 8px 15px;
}

.ng2-listview-item:hover, a.ng2-listview-item:focus {
  text-decoration: none;
  background-color: #f6f6f6;
}

.ng2-listview-item .trash .glyph:hover {
  color: #ef4040;
}

.searchBoxListView{
  border-radius: 0px;
}

ul li a{
  text-decoration: none;
}
ul li div {display: none;}
ul li:hover div {display: inline;}
